{% extends '::base.html.twig' %}
     {% block stylesheets %}
         <!--     Fonts and icons     -->

         <link rel="stylesheet"  href="https://fonts.googleapis.com/icon?family=Material+Icons" />
         <link rel="stylesheet"  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
         <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
         <!-- CSS Files -->

         <link rel="stylesheet"   href="{{ asset('assets/css/bootstrap.min.css') }}" />
         <!-- CSS Just for demo purpose, don't include it in your project -->

         <link rel="stylesheet"   href="{{ asset('assets/css/material-dashboard.css') }}" />

         <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
         <script src="{{ asset('assets/js/jquery-3.2.0.min.js') }}"></script>
         <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBV5eAN00x_NQQRncHIo0rmTXxiE9B4iWw&libraries=geometry,places"></script>
         <style>
             .map-container {
                 height: 500px;
                 width: 700px;
                 margin: 0% 4%;
             }
             li{
                 list-style:none;

                 text-decoration: none;
             }

         </style>
     {% endblock %}
{% block body %}

    <div class="sidebar-wrapper">
        <ul class="card">
            <div class="col-sm-3  ">
                <div class="form-group label-floating divsRadios">
                    <label class="control-label">Problematicas</label>
                    <select id="mySelect" onchange="myFunction()" class="form-control">
                        <option value></option>
                        <option value="1">Luminarias</option>
                        <option value="2">Obras Publicas</option>
                        <option value="3">Higiene Urbana</option>
                        <option value="4">Seguridad</option>
                        <option value="5">Transito</option>
                        <option value="6">Espacios Verdes</option>
                        <option value="7">Todo las problematicas</option>

                    </select>
                </div>

            </div>
            <div class="col-sm-3 ">
                <div class="form-group label-floating divsRadios">
                    <div id="imprimir  ">
                        <button class="map-print btn  btn-primary">Imprimir mapa</button>
                    </div>
                </div>
            </div>
        </ul>

    </div>

    <div class="map-container">

    </div>




{% endblock %}

{% block javascripts %}
    <script>


        $(document).ready(function () {
            var idproblematica=$('#appbundle_test_tipoproblematica').val();
            $.ajax({
                type: "POST",
                url: "{{ path ("carga_mapaa") }}",
                data: {optio:''}
            }).done(function (data) {
                $(function () {

                    var marcadores= JSON.stringify(data);
                    var obj = $.parseJSON(marcadores);

                    var mapContainer = $('.map-container');
                    var map = new google.maps.Map(mapContainer[0], {
                        zoom: 13,
                        center: new google.maps.LatLng( -33.1244068, -64.3421894,13),
                        mapTypeId: google.maps.MapTypeId.ROADMAP,

                    });

                    var markers = (obj)
                            .map(function (loc) {
                                return new google.maps.Marker({
                                    position: new google.maps.LatLng(loc.latitud, loc.longitud),
                                    icon: 'assets/img/'+loc.marcador,
                                    title:'Nombre: '+loc.nombre+' Problematica: '+loc.descripcion,
                                    map: map,
                                    url: 'http://www.google.com',

                                    draggable:true

                                });
                            })


                            .forEach(function (marker) {
                                marker.setMap(map);

                            });

//            new MarkerClusterer(map, markers);



                    $('.map-print').on('click',

                            // printAnyMaps :: _ -> HTML
                            function printAnyMaps() {
                                var $body = $('body');
                                var $mapContainer = $('.map-container');
                                var $mapContainerParent = $mapContainer.parent();
                                var $printContainer = $('<div style="position:relative;">');

                                $printContainer
                                        .height($mapContainer.height())
                                        .append($mapContainer)
                                        .prependTo($body);

                                var $content = $body
                                        .children()
                                        .not($printContainer)
                                        .not('script')
                                        .detach();

                                /**
                                 * Needed for those who use Bootstrap 3.x, because some of
                                 * its `@media print` styles ain't play nicely when printing.
                                 */
                                var $patchedStyle = $('<style media="print">')
                                        .text(
                                                'img { max-width: none !important; }' +
                                                'a[href]:after { content: ""; }'
                                        )
                                        .appendTo('head');

                                window.print();

                                $body.prepend($content);
                                $mapContainerParent.prepend($mapContainer);

                                $printContainer.remove();
                                $patchedStyle.remove();
                            });
                });

            })

        });
        function myFunction() {
            var x = document.getElementById("mySelect").value;
            $(document).ready(function () {
                $.ajax({
                    type: "POST",
                    url: "{{ path ("remplaza_mapaa") }}",
                    data: {option:x}
                }).done(function (data) {
                    $(function () {

                        var marcadores= JSON.stringify(data);
                        var obj = $.parseJSON(marcadores);

                        var mapContainer = $('.map-container');
                        var map = new google.maps.Map(mapContainer[0], {
                            zoom: 13,
                            center: new google.maps.LatLng( -33.1244068, -64.3421894,13),
                            mapTypeId: google.maps.MapTypeId.ROADMAP,

                        });

                        var markers = (obj)
                                .map(function (loc) {
                                    return new google.maps.Marker({
                                        position: new google.maps.LatLng(loc.latitud, loc.longitud),
                                        icon: 'assets/img/'+loc.marcador,
                                        title:'Nombre: '+loc.nombre+' Problematica: '+loc.descripcion,
                                        map: map,
                                        infoWindow: {
                                            content: '<b>New York</b> is a state in the Northeastern and Mid-Atlantic regions of the <i>United States</i>.'
                                        },
                                        url: 'http://www.google.com',

                                        draggable:true

                                    });
                                })


                                .forEach(function (marker) {
                                    marker.setMap(map);

                                });

//            new MarkerClusterer(map, markers);



                        $('.map-print').on('click',

                                // printAnyMaps :: _ -> HTML
                                function printAnyMaps() {
                                    var $body = $('body');
                                    var $mapContainer = $('.map-container');
                                    var $mapContainerParent = $mapContainer.parent();
                                    var $printContainer = $('<div style="position:relative;">');

                                    $printContainer
                                            .height($mapContainer.height())
                                            .append($mapContainer)
                                            .prependTo($body);

                                    var $content = $body
                                            .children()
                                            .not($printContainer)
                                            .not('script')
                                            .detach();

                                    /**
                                     * Needed for those who use Bootstrap 3.x, because some of
                                     * its `@media print` styles ain't play nicely when printing.
                                     */
                                    var $patchedStyle = $('<style media="print"> ')
                                            .text(
                                                    'img { max-width: none !important; }' +
                                                    'a[href]:after { content: ""; }'
                                            )
                                            .appendTo('head');


                                    window.print();

                                    $body.prepend($content);
                                    $mapContainerParent.prepend($mapContainer);

                                    $printContainer.remove();
                                    $patchedStyle.remove();

                                });
                    });

                })

            });

        }

    </script>
{% endblock %}
